# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data
Datasets/
models/
*.pkl
analytics_visualizations.png

# IDE
.idea/
.vscode/
